table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  
  td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
tr td{
    padding-right: 5px;
    padding-left: 5px;
}

.input-grupo>*{
    display: block;
}

.input-grupo>label{
    margin-bottom: 5px;
    margin-top: 10px;
}

.input-grupo>input{
    width: 350px;
}

h1,h3,h4,h5{
    color: red;
}