<div class="resumen">
  <h2>Cartas de patrocinio</h2>
  <hr>
  <p>
    Aca podra generar sus cartas y certificados necesarios para cumplir con los tramites asociados a su proyecto. Para generar el documento seleccione el idioma, elija el tipo de documento y finalice pulsando el link generar documento.
  </p>
</div>
<div class="formulario">
  <form action="">
    <h3>A quien va dirigido</h3>
    <input type="radio" name="quien" checked="true" value="INTERESE" (change)="onQuien($event)">A quien pueda interesar<br>
    <input type="radio" name="quien" value="ESTA" (change)="onQuien($event)">A esta persona...<br>
    <div class="detalle-persona" *ngIf="quien">
      <div class="detalle-titulo">
        <h4>Titulo</h4>
        <div style="display: flex; margin-bottom: 10px">
          <input type="radio" name="titulo" value="sr">senor<br>
          <input type="radio" name="titulo" value="sra">senora<br>
          <input type="radio" name="titulo" value="srs">senores<br>
        </div>
        <div class="input-grupo">
            <label for="nombre">Nombres</label>        
            <input type="text" name="nombre" id="nombre">
        </div>
          <div class="input-grupo">
              <label for="apellidos">Apellidos</label>        
              <input type="text" name="apellidos" id="apellidos">
          </div>
          <div class="input-grupo">
              <label for="cargo">Cargo</label>        
              <input type="text" name="cargo" id="cargo">
          </div>
          
          <h3>A donde va dirigida</h3>
          <div class="input-grupo">
              <label for="organizacion">Organizacion</label>        
              <input type="text" name="organizacion" id="organizacion">
          </div>
          <div class="input-grupo">
              <label for="direccion">Direccion</label>        
              <input type="text" name="direccion" id="direccion">
          </div>
          <div class="input-grupo">
              <label for="detalles">Detalles (Apt, Ofi, Bloq, etc)</label>        
              <input type="text" name="detalles" id="detalles">
          </div>
          <div class="input-grupo">
              <label for="ciudad">Ciudad</label>        
              <input type="text" name="ciudad" id="ciudad">
          </div>
          <div class="input-grupo">
              <label for="pais">Pais</label>        
              <input type="text" name="pais" id="pais">
          </div>
      </div>
      <div class="detalle-donde"></div>
    </div>
    <h3>En que idioma?</h3>
    <input type="radio" name="idioma" checked="true" (change)="onIdioma($event)" value="espanol">Espanol<br>
    <input type="radio" name="idioma" (change)="onIdioma($event)" value="ingles">Ingles<br>
    <input type="radio" name="idioma" (change)="onIdioma($event)" value="frances">Frances<br>
    <input type="radio" name="idioma" (change)="onIdioma($event)" value="italiano">Italiano<br>
    <input type="radio" name="idioma" (change)="onIdioma($event)" value="aleman">Aleman<br>
    <h3>Cual Carta?</h3>
    <table>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let item of items">
        <td style="width: 200px">{{item.descripcion}}</td>
        <td><a href="{{item.ver}}">Ver</a></td>
        <td><a href="{{item.generar}}">Generar RTF</a></td>
      </tr>
    </table>
  </form>
</div>
