<!--The content below is only a placeholder and can be replaced.-->
<div class="header-container">
  <div class="header-left">
    <img src="../assets/imagenes/logo_colfuturo.png" alt="Logo" height=60 width=200>
  </div>
  <div class="header-right">
    <div class="header-right1">
      <span><strong style="color: red">Luis Fernando Abello Criales</strong></span>
      <span>cc 1.140.869.190</span>
    </div>
    <div class="header-right2">
      <span>Maestria/<strong>Civil Engineering</strong></span>
      <span>Politecnico Di Milano</span>
      <span>Milano, Lombardia/Italia</span>
      <span>COLFUTURO / PCB / 2017</span>
    </div>
  </div>
</div>
<div class="header-bar"> 
  <span class="header-bar-1">04 sep 2018, Hora COT 09:21</span>
  <span class="header-bar-2">Mi estatus: POE-Periodo Ordinario de Estudio <strong>del 01 sep 2017 al 31 jul 2019/23 meses</strong></span>
</div>
<div class="body-contenedor">
  <div class="body-left">
    <strong>Acciones</strong>
    <ul>
      <li>Inicio</li>
      <li>Estatus</li>
      <li>Presupuestos y giros</li>
      <li>Cuentas Bancarias</li>
      <li class="selected">Cartas de patrocinio</li>
      <li>Certificado deuda</li>
      <li>Interacciones</li>
    </ul>
    <strong>Mi informacion</strong>
    <ul>
      <li>Actualizacion de datos</li>
      <li>Proyecto apoyado</li>
      <li>Academica</li>
      <li>Permanencia</li>
      <li>Laboral</li>
      <li>Codeudores</li>
      <li>Documentos</li>
    </ul>
  </div>
  <div class="body-right">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="footer-bar"> 
    <span><strong>COLFUTURO: Fundacion para el futuro de Colombia----------------------------------------------------------------Carrera 15 Nro. 37-15 Bogota, Colombia</strong></span>
  </div>
