.header-container{
    display: flex;
    height: 100px;
}

.header-left{
    padding: 10px;
    padding-bottom: 10px;
    background-color: red;
    width: 200px;
}

.header-right{
    flex: 1 auto;
    display: flex;
}

.header-right1{
    width: 300px;
}

.header-right1> span{
    display: block;
    text-align: right;
    margin-right: 10px;
}

.header-right2{
    border-left: solid 2px #E7F0EF;
    width: 300px;
}

.header-right2> span{
    display: block;
    text-align: left;
    margin-left: 10px;
}

.header-bar{
    display: flex;
    margin: 5px;
}
.header-bar-2{
    background-color: #E7F0EF;
    flex: 1 auto;
}
.header-bar-1{
    background-color: #E1E3E2;
    width: 200px;
}

.body-contenedor{
    display: flex;
}

.body-left{
    width: 300px;
    background-color: #F7F7F7;
}

.body-right{
    flex: 1 auto;
    padding-left: 20px;
}

ul{
    margin-left: 0px;
    padding: 0px;
}
ul li{
    text-decoration: none;
    list-style: none;
    padding-left: 20px;
}

.selected{
    background-color: red;
    color: white;
    font-weight: bold;
}

.footer-bar{
    background-color: #E1E3E2;
    margin-top: 10px;
}